// Custom styles.
//page code background-color
.code ::selection {
    background: #2593a6;
    color: #fff;
}
// 修改按键（button）样式
//.btn {
//  color: #49b1f5;
//  background: #fff;
//  border: 2px solid #49b1f5;
//}
// 按键（button）点击时样式
//.btn:hover {
//  border-color: #49b1f5;
//  color: #fff;
//  background: #49b1f5;
//}

//gitalk code background-color 
.gt-container .gt-comment-content .highlight pre, .markdown-body pre{
    background-color: #2d2d2d;
}
.gt-container .gt-comment-content .highlight ::selection {
    background: #2593a6;
    color: #fff;
}
//黑线：
//.headband {display:none;}


// 主页文章添加阴影效果
 .post {
   margin-top: 0px;
   margin-bottom: 10px;
   //padding: 5px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }